@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
nav{
    background-color:rgb(26, 201, 232) ;
    color:white ;
    height: 78px;
    font-size: 35px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}
nav ul{
list-style-type: none;
}
.gamecontainer{

display: flex;
justify-content:center;
margin-top: 50px;
}
.container{
    font-family:'Roboto', sans-serif ;
    display: grid;
    grid-template-rows:repeat(3, 10vw) ;
    grid-template-columns:repeat(3, 10vw) ;
 
}
.box{
    border: 2px solid rgb(49, 149, 188);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(224, 232, 233);
}
.gameinfo{
    padding: 0 34px;
   
}
.imgbox img{
width: 0;
transition: width 2s ease-in-out;
}
.br-0{
border-right: 0;
}
.bl-0{
    border-left:0;
}
.bt-0{
    border-top:0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin:0  23px ;
    padding:6px 14px ;
    background: rgb(192, 222, 80);
    border-radius: 6px;
    cursor: pointer;

}


@media screen and (max-width:950px){
   .gamecontainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;

    }
}
 
